.add-task {
    background-color: #f9ea85;
    font-size: 3.5rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms all;
}

.add-task:hover {
    transform: scale(1.1);
    transition: 400ms all;
    cursor: pointer;
}