.app {
    padding: 0 25px;
    max-width: 1024px;
    width: 100%;
}

.circle {
    height: 190px;
    width: 100%;
    background-color: #f9ea85;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
}